<a href="https://colab.research.google.com/github/moraesleonardo/PCEP_Udemy/blob/main/PCEP_udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Module1_First_Program

In [ ]:
print('Hello, world!')

Hello, world!

Module1_more_about_print

In [ ]:
print('I\'m studying Python')

I'm studying Python

In [ ]:
print('I\'m studying Python')
print('and having fun!')

I'm studying Python
and having fun!

In [ ]:
print('I\'m studying Python', 'and having fun!')

I'm studying Python and having fun!

In [ ]:
print('I\'m studying\nPython')

I'm studying
Python

Module1_variable

In [ ]:
greeting = 'Hello, friend!'
print(greeting)

Hello, friend!

Module1_data_types

In [ ]:
greeting = 'Hello, friend!' #string
age = 35 #integer
speed = 4.5 #float (python always uses "." to introduce floats)
am_i_ugly = True #boolean (python always uses capital letters "T" and "F")

Module1_numerical_representations

In [ ]:
# underscores in numbers (that is possible)
12000300
12_000_300

12000300

In [ ]:
#octal number
#start with 0O or 0o (just to identify)

#hexadecimal number
#start with 0X or 0x (just to identify)
print(0x123)

291

Module1_Operators

In [ ]:
2 + 3

5

In [ ]:
5 - 4

1

In [ ]:
3 * 5

15

In [ ]:
# standard division

In [ ]:
6 / 2

3.0

In [ ]:
7 / 2

3.5

In [ ]:
# integer division (nearest whole number rounded down)
7 // 2

3

In [ ]:
# modulus division (rest number)
6 % 2

0

In [ ]:
7 % 2

1

In [ ]:
# We can not divide by "0" (zero division error)

In [ ]:
# power operator
2 ** 3

8

In [ ]:
2 + 3.0 #integer plus float we get a float

5.0

Exercise (Variables and Operators)

In a fictional country named Lowtaxland, the income tax is 5%. In another fictional country, Ripoffland, the income tax is 43%. You are given a sample variable named income with the value of 250,000.

1. Create two additional variables: lowtaxland_rate with the value of 0.05 (which is the same as 5%) and ripoffland_rate with the value of 0.43 (which is the same as 43%).

2. Print to the output the following:

Your income is {income} and you would pay {tax amount in Lowtaxland} income tax in Lowtaxland or {tax amount in Ripoffland} income tax in Ripoffland. You would save {difference between the tax amounts} by paying taxes in Lowtaxland!

Your solution must replace the curly brackets (e.g. {income}) with the actual values (e.g. 250000). The values must be calculated correctly. The tax amount should be calculated as {income * lowtaxland_rate} for Lowtaxland, and {income * ripoffland_rate} for Ripoffland, respectively.

In [ ]:
income = 250_000

lowtaxland_rate = 0.05
ripoffland_rate = 0.43

print('Your income is', income, 'and you would pay', income * lowtaxland_rate, 'income tax in Lowtaxland or', \
income * ripoffland_rate, 'income tax in Ripoffland. You would save', income * ripoffland_rate - income * lowtaxland_rate, 'by paying taxes in Lowtaxland!')

Your income is 250000 and you would pay 12500.0 income tax in Lowtaxland or 107500.0 income tax in Ripoffland. You would save 95000.0 by paying taxes in Lowtaxland!

Module1_reassigning_values

In [ ]:
age = 28
new_age = age + 5 #age += 7 #print(age)
print(new_age)

33

In [ ]:
# age *= 2
# age -= 5
# age /= 3

In [ ]:
text = 'hokus' + 'pokus'
print(text)

hokuspokus

In [ ]:
print('hokus' * 5)

hokushokushokushokushokus

In [ ]:
print(23 + 5)

28

In [ ]:
print('23' + '5')

235

Module1_input

In [ ]:
print('What is your name?') #user_name = input('What is your name?')
user_name = input()
print('Hello', user_name)

What is your name?
Leonardo
Hello Leonardo

Exercise:
Practising input()
Ask the user to provide their login and native language. Use the following prompts:

Enter your login: << remember to add a space at the end of this prompt!
Enter your native language: << remember to add a space at the end of this prompt!

Then, show the user the following message:

Your login is {login provided} and you speak {language provided}

For example, if the user provides the login h_potter and language British English, show:

Your login is h_potter and you speak British English

Watch out for typos: you must show the output in this particular format!

In [ ]:
user_login = input('Enter your login: ')

user_native_language = input('Enter your native language: ')

print('Your login is', user_login, 'and you speak', user_native_language)

Enter your login: login
Enter your native language: portuguese
Your login is login and you speak portuguese

computer program = a collection os instructions executed by a computer

instruction list = the set of instructions the given computer can execute; written in the form of machine code

compilation:

- compile source code only once
- anyone can run the executable file

interpretation: 

- interpret source code every time you run programs
- everyone needs the interpreter to run

Python interpreter bahavior

- typically reads core from top to bottom
- throws errors based on checking:
1. lexis (variable names are special key words)
2. syntax (input() function requires a pair of brackets)
3. semantics (input() function do not accept multiple arguments)

Module2_type_casting

In [ ]:
height_cm = input('Height converter:enter your height in cm: ')
float_height_cm = float(height_cm) # input function always return a string. We shoud use float() function to transform from string to float
print('You height in feet is: ', float_height_cm / 30.48)

Height converter:enter your height in cm: 163
You height in feet is:  5.347769028871391

In [ ]:
height_cm = float(input('Height converter:enter your height in cm: ')) # input function always return a string. We shoud use float() function to transform from string to float
print('You height in feet is: ', height_cm / 30.48)

Height converter:enter your height in cm: 163
You height in feet is:  5.347769028871391

In [ ]:
year_born = int(input('What year were you born?')) # input function always return a string. We shoud use int() function to transform from string to integer
print('In 2100, you will be', 2100 - year_born, 'years old, provided you live this long!')

What year were you born?1978
In 2100, you will be 122 years old, provided you live this long!

In [ ]:
temp_c = input('Enter the temperature today in Celsius degrees: ')
temp_f = float(temp_c) * 1.8 + 32
temp_statement = str(temp_c) + ' degrees Celsius equals ' + str(temp_f) + ' degrees in Fahrenheit.'
print(temp_statement)

Enter the temperature today in Celsius degrees: 32
32 degrees Celsius equals 89.6 degrees in Fahrenheit.

Exercise:
Salary calculator
Ask the user for the number of hours they worked last month and their hourly rate (both numbers should be floats). Use the following prompts:

How many hours did you work last month? << add a space at the end of this prompt
What is your hourly rate? << add a space at the end of this prompt

Then, show the following message with the calculated salary:

Last month, you earned {hours * hourly_rate} dollars

The salary should be shown as a float number. For example, for input 30 hours and hourly rate 10.5, show:

Last month, you earned 315.0 dollars

Watch out for typos: you must show the output in this particular format!

In [ ]:
hours = float(input('How many hours did you work last month? '))

hourly_rate = float(input('What is your hourly rate? '))

print('Last month, you earned', hours * hourly_rate,'dollars')

How many hours did you work last month? 40
What is your hourly rate? 6
Last month, you earned 240.0 dollars!

Module2_more_about_operators

In [ ]:
(2 + 3) * 2

10

In [ ]:
print(0.1 + 0.1 + 0.1)

0.30000000000000004

In [ ]:
2 ** 2 ** 3
# 4 ** 3 = 64 (left -> right) incorrect answer
# 2 ** 8 = 256 (right -> left) correct answer

256

Module2_more_about_print_and_strings

In [ ]:
len('Hello!')

6

In [ ]:
print('Hello, World!')
print('Python speaking!')

Hello, World!
Python speaking!

In [ ]:
print('Hello, World!', end='.')
print('Python speaking!')

Hello, World!.Python speaking!

In [ ]:
first_name = 'John'
print('Your first name is', first_name, 'Welcome!', sep='-')

Your first name is-John-Welcome!

Module3_if_instruction

In [ ]:
user_age = int(input('What is your age? '))
if user_age > 30:
  print('You are over 30 years old')
  print('Sorry, you do not qualify')
elif user_age == 30:
  print('You are exactly 30 years old')
  print('You will need to meet additional conditions to qualify')
else:
  print('You are 30 years old or younger')
  print('Congratulations, you qualify!')

What is your age? 30
You are exactly 30 years old
You will need to meet additional conditions to qualify

Module3_logical_operators_conditions

In [ ]:
# available logical operators
# < less than
# > greater than
# <= less than or equal
# >= greater than or equal
# == equals
# != not equals

Module3_joining_multiple_conditions

In [ ]:
user_age = int(input('What is your age?'))
user_country = input('What is your country?')

if user_age < 25 and user_country == 'Germany':
  print('You can apply for a German student exchange programme')
else:
  print('Sorry, you do not qualify')

What is your age?23
What is your country?Germany
You can apply for a German student exchange programme

In [ ]:
user_country = input('What is your country?')

if user_country == 'Sweden' or user_country == 'Denmark' or user_country == 'Norway':
  print('You can apply for a Scandinavian student exchange programme')
else:
  print('Sorry, you do not qualify')

What is your country?Denmark
You can apply for a Scandinavian student exchange programme

In [ ]:
user_country = input('What is your country?')

if not user_country == 'Germany':
  print('You are not from Germany')
else:
  print('You are from Germany')

What is your country?Poland
You are not from Germany

In [ ]:
user_age = int(input('What is your age?'))
user_country = input('What is your country?')

if not user_country == 'Germany' and user_age < 25 or \
user_country == 'Germany' and user_age < 23:
  print('You qualify')
else:
  print('Sorry, you don\'t qualify')

What is your age?23
What is your country?Thailand
You qualify

In [ ]:
# 1. not
# 2. and
# 3. or

Module3_nested_if

In [ ]:
answer_a = input('Do you like traveling? y/n:')
if answer_a =='y':
  answer_b = input('And do you like Asia? y/n: ')
  if answer_b == 'y':
    print('Excellent! You can win a ticket to Thailand!')
  else:
    print('Sorry to hear that!')  
else:
  print('Sorry to hear that!')

Do you like traveling? y/n:y
And do you like Asia? y/n: y
Excellent! You can win a ticket to Thailand!

Exercise: 
Refund Policy Helper
Let's help an online store with their new refund policy. In this store, you can return an item and get a refund in 2 cases:

1. Within 10 days from the day of purchase, given that you have not used the item, or
2. No matter when you bought it, when the item broke down through no fault of your own.

Write a program that first asks the user three questions and then informs them whether they can get a refund. Ask the following questions:

How many days ago have you purchased the item? << add a space at the end of this prompt

Have you used the item at all [y/n]?  << add a space at the end of this prompt

Has the item broken down on its own [y/n]?  << add a space at the end of this prompt

Based on the answers and the refund policy explained above, print either:
You can get a refund.
or:
You cannot get a refund.

In [ ]:
purchase_days_ago = int(input('How many days ago have you purchased the item? '))
is_used = input('Have you used the item at all [y/n]? ')
is_broken = input('Has the item broken down on its own [y/n]? ')
 
if(is_broken == 'y' or (purchase_days_ago <= 10 and is_used == 'n')):
  print('You can get a refund.')
else:
  print('You cannot get a refund.')

How many days ago have you purchased the item? 12
Have you used the item at all [y/n]? y
Has the item broken down on its own [y/n]? y
You can get a refund.

Module3_while_loop

In [ ]:
counter = 1
while counter < 11:
  print(counter)
  counter += 1
print('Finished!')

1
2
3
4
5
6
7
8
9
10
Finished!

In [ ]:
secret_number = 14
print('''
==========================
=== SECRET NUMBER GAME ===
==========================
''')
user_input = int(input('Try to guess the secret number from 0 to 20: '))
while user_input != secret_number:
  print('Wrong!')
  user_input = int(input('Try to guess the secret number from 0 to 20: '))
print('Perfect! You have guessed the secret number.')

==========================
=== SECRET NUMBER GAME ===
==========================

Try to guess the secret number from 0 to 20: 2
Wrong!
Try to guess the secret number from 0 to 20: 14
Perfect! You have guessed the secret number.

Module3_for_loop

In [ ]:
for letter in 'hello!':
  print('Current letter:', letter)

Current letter: h
Current letter: e
Current letter: l
Current letter: l
Current letter: o
Current letter: !

In [ ]:
for counter in range(1,11): 
  print(counter)
print('Finished')

1
2
3
4
5
6
7
8
9
10
Finished

In [ ]:
for counter in range(1,11,3): 
  print(counter)
print('Finished')

1
4
7
10
Finished

Module3_break_continue

In [ ]:
while True:
  name = input('Enter your name or EXIT to close the program: ')
  if(name == 'EXIT'):
    break
  print('Hello', name)

Enter your name or EXIT to close the program: EXIT

In [ ]:
for i in range(1, 21):
  if i % 5 == 0:
    continue
  print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

Module3_loops_additional

In [ ]:
for i in range(11):
  pass

In [ ]:
for a in range(1, 6):
  for b in range(1, 6):
    print(a, 'x', b, '=', a * b)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [ ]:
i = 2
while i < 5:
  print(i)
  i += 1
else:
  print('else:', i)

2
3
4
else: 5

Exercise:
Python Guessing Game
Ask the user to guess the year when Python 1.0 was released (the correct answer is 1994) with the following prompt:

When was Python 1.0 released? << remember to add a space at the end of this prompt

If the user answers 1994, show:

Correct!

and finish the program. If the user answers with a year later than 1994, show a hint and ask again for a new year on a new line:

It was earlier than that!
When was Python 1.0 released? << remember to add a space

If the user answers with a year earlier than 1994, show a hint and ask again for a new year on a new line:

It was later than that!
When was Python 1.0 released? << remember to add a space

In [ ]:
while True:
    answer = int(input('When was Python 1.0 released? '))
    if answer > 1994:
        print('It was earlier than that!')
    elif answer < 1994:
        print('It was later than that!')
    else:
        print('Correct!')
        break

When was Python 1.0 released? 2000
It was earlier than that!
When was Python 1.0 released? 1995
It was earlier than that!
When was Python 1.0 released? 1994
Correct!

Module4_intro_lists

In [ ]:
# collections:
# lists
# tuples
# dictionaries

In [ ]:
# Lists
top_cities = ['new york', 'los angeles', 'chicago', 'houston', 'phoenex']
print(top_cities)

['new york', 'los angeles', 'chicago', 'houston', 'phoenex']

In [ ]:
top_cities[0]

'new york'

In [ ]:
top_cities[-1]

'phoenex'

In [ ]:
top_cities[0:2]

['new york', 'los angeles']

In [ ]:
top_cities = ['new york', 'los angeles', 'chicago', 'houston', 'phoenex']
del top_cities[2:]
print(top_cities)

['new york', 'los angeles']

In [ ]:
top_cities = ['new york', 'los angeles', 'chicago', 'houston', 'phoenex']
top_cities.append ('Rio de Janeiro')
print(top_cities)

['new york', 'los angeles', 'chicago', 'houston', 'phoenex', 'Rio de Janeiro']

In [ ]:
top_cities = ['new york', 'los angeles', 'chicago', 'houston', 'phoenex']
top_cities.insert (2, 'So Paulo')
print(top_cities)

['new york', 'los angeles', 'So Paulo', 'chicago', 'houston', 'phoenex']

Module4_interating_lists

In [ ]:
top_cities = ['new york', 'los angeles', 'chicago', 'houston', 'phoenex']
for city_index in range(len(top_cities)):
  print('Current index:', city_index,'| Current city:', top_cities[city_index],)

Current index: 0 | Current city: new york
Current index: 1 | Current city: los angeles
Current index: 2 | Current city: chicago
Current index: 3 | Current city: houston
Current index: 4 | Current city: phoenex

In [ ]:
spendings = [32.45, 18.65, 23.45, 78.32, 5.23]
sum = 0.0
for spending in spendings:
  sum += spending
print('Money spent:', sum)

Money spent: 158.1

Exercise:
Helping with the Budget
John has a hard time keeping his budget. Write a program to help him analyse his spendings. You are given a list with John's spendings for each month. Go through the list, and count the number of times...

a. the spendings were low (< 1000.0)
b. the spendings were normal (between 1000.0 and 2500.0 inclusive)
c. the spendings were high (> 2500.0)

Then, print the following to the output:

Numbers of months with low spendings: {}, normal spendings: {}, high spendings: {}.

In [ ]:
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]
 
low = 0
normal = 0
high = 0
 
for month in spendings:
    if month < 1000.0:
        low += 1
    elif month <= 2500.0:
        normal += 1
    else:
        high += 1
 
print('Numbers of months with low spendings: ' + str(low) + ', normal spendings: ' + str(normal) + ', high spendings: ' + str(high) + '.')

Numbers of months with low spendings: 1, normal spendings: 5, high spendings: 6.

Module4_list_change_positions

In [ ]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping: ', first, second)
first, second = second, first
print('After swapping: ', first, second)

Enter first number: 25
Enter second number: 2
Before swapping:  25 2
After swapping:  2 25

In [ ]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities[0], top_cities[4] = top_cities[4], top_cities[0]
print(top_cities)

['Phoenix', 'Los Angeles', 'Chicago', 'Houston', 'New York']

In [ ]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities.sort()
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York', 'Phoenix']

In [ ]:
random_numbers = [2, 5, 0, -3, 4]
random_numbers.sort(reverse=True)
print(random_numbers)

[5, 4, 2, 0, -3]

In [ ]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(sorted(top_cities))
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York', 'Phoenix']
['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

Module4_list_checking_presence

In [ ]:
invited_guests = ['Kate', 'Adam', 'Kerry', 'Joe', 'Anne', 'Marie']
name = input('What is your name? ')
if name in invited_guests:
  print('Welcome')
else:
  print('You are not invited.')

What is your name? Kate
Welcome

In [ ]:
invited_guests = ['Kate', 'Adam', 'Kerry', 'Joe', 'Anne', 'Marie']
name = input ('What is your name? ')
if name not in invited_guests:
  print('You are not invited!')
else:
  print('Welcome!')

What is your name? Leonardo
You are not invited!

Module4_copying_lists

In [ ]:
name_original = 'John Snow'
name_new = name_original
name_original = 'Daenerys Targaryen'
print(name_original,name_new)

Daenerys Targaryen John Snow

In [ ]:
list_original = [1, 2, 3]
list_new = list_original 
list_original[0] = -5
print('Original:', list_original, '\nNew:', list_new)

Original: [-5, 2, 3]
New: [-5, 2, 3]

In [ ]:
list_original = [1, 2, 3]
list_new = list_original[:] 
list_original[0] = -5
print('Original:', list_original, '\nNew:', list_new)

Original: [-5, 2, 3]
New: [1, 2, 3]

In [ ]:
list_original = [1, 2, 3]
list_new = list_original[:2] 
list_original[0] = -5
print('Original:', list_original, '\nNew:', list_new)

Original: [-5, 2, 3]
New: [1, 2]

Module4_list_comprehensions

In [ ]:
numbers = [1, 2, 3, 4]

In [ ]:
numbers = []
for i in range(1, 21):
  numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
numbers = [i for i in range(1, 21)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
numbers = [i for i in range(1, 21) if i % 3 != 0]
print(numbers)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]

Module4_nested_lists

In [ ]:
cells = [['A1', 'A2', 'A3'],['B1', 'B2', 'B3']]

In [ ]:
cells[0]

['A1', 'A2', 'A3']

In [ ]:
cells[0][1]

'A2'

In [ ]:
cells = [['A1', 'A2', 'A3'],['B1', 'B2', 'B3']]
for x in cells:
  print('Element: ', x)

Element:  ['A1', 'A2', 'A3']
Element:  ['B1', 'B2', 'B3']

In [ ]:
cells = [['A1', 'A2', 'A3'],['B1', 'B2', 'B3']]
for x in cells:
  for y in x:
    print('Element: ', y)

Element:  A1
Element:  A2
Element:  A3
Element:  B1
Element:  B2
Element:  B3

In [ ]:
table = [['A1', 'A2', 'A3'],['B1', 'B2', 'B3']]
for row in table:
  for cell in row:
    print('Element: ', cell)

Element:  A1
Element:  A2
Element:  A3
Element:  B1
Element:  B2
Element:  B3

In [ ]:
table = [['A1', 'A2', 'A3'],['B1', 'B2', 'B3']]
for row in table:
  for cell in row:
    print(cell,'', end='')
  print()

A1 A2 A3
B1 B2 B3

In [ ]:
table = [[i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

Module4_add_multiply_lists

In [ ]:
list_us = ['New York City', 'Chicago']
list_uk = ['London', 'Bristol']
list_all = list_us + list_uk
print(list_all)

['New York City', 'Chicago', 'London', 'Bristol']

In [ ]:
list_numbers = [0, 1] * 5
print(list_numbers)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

Module4_further_string_features

In [ ]:
fav_band = 'Green Day'
print(fav_band[6])

D

In [ ]:
print(fav_band[:6])

Green

In [ ]:
text = 'please capitlise me'
text_cap = text.upper()
print(text_cap)

PLEASE CAPITLISE ME

In [ ]:
user_number = input('Please provide a number: ')
if user_number.isnumeric():
  print('Thank you, that\'s a correct number!')
else:
  print('Sorry,', user_number, 'is not a number')

Please provide a number: 23
Thank you, that's a correct number!

Module4_intro_tuples

In [ ]:
empty_tuple = ()
one_el_tuple_a = (1, )
one_el_tuple_b = 1,
three_el_tuple = 1, 2, 3
print(three_el_tuple)

(1, 2, 3)

In [ ]:
message = 'welcome'

In [ ]:
message = 'Welcome'

In [ ]:
message[0] = 'w' # tuples are imutables

TypeError: ignored

In [ ]:
user_data = ('John', 'American', 1964)
print(len(user_data))

3

In [ ]:
user_data = ('John', 'American', 1964)
if 'American' in user_data:
  print('This person comes from the US!')

This person comes from the US!

In [ ]:
user_data = ('John', 'American', 1964)
for element in user_data:
  print(element)

John
American
1964

In [ ]:
user_data = ('John', 'American', 1964) + ('teacher', 'male')
print(user_data)

('John', 'American', 1964, 'teacher', 'male')

In [ ]:
number = (0, 1) * 10
print(number)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
male_name = ['Adam', 'Jerry', 'Mark'] # a list is the better option
berlin_temps = [13.0, 17.5, 12.0] # a list is the better option
user_data = ('John', 'American', 1964) # a tuple is the better option

Module4_tuples_lists

In [ ]:
city_1 = ('London', 'UK', 8.98)

In [ ]:
city_2 = ('Canberra', 'Australia', 0.4)

In [ ]:
city_3 = ('Algiers', 'Algeria', 3.9)

In [ ]:
capitals = [('London', 'UK', 8.98),('Canberra', 'Australia', 0.4),('Algiers', 'Algeria', 3.9)]

In [ ]:
for capital in capitals:
  print('Name', capital[0], ', Country:', capital[1], ', Population:', capital[2])

Name London , Country: UK , Population: 8.98
Name Canberra , Country: Australia , Population: 0.4
Name Algiers , Country: Algeria , Population: 3.9

In [ ]:
user_data = ('John', 'American', 1964, [77.0, 78.2, 77.5])

In [ ]:
user_data[3].append(79.6)

In [ ]:
print(user_data)

('John', 'American', 1964, [77.0, 78.2, 77.5, 79.6])

Exercise:
All Roads Lead to Rome
You are given a list with various flight connections in Europe. Each connection is represented as a tuple with the following elements:

(city_from, city_to, time)

For example, the following tuple represents a flight from Amsterdam to Dublin which takes 100 minutes:

('Amsterdam', 'Dublin', 100)

Your task is to go through all the routes in a loop and check how many of them lead to Rome (i.e. how many of them have city_to equal to 'Rome'). Among the routes to Rome, you should also calculate the average flight time. Print the following the output:

{} connections lead to Rome with an average flight time of {} minutes

Replace {} with the number of connections and the average flight time.*

In [ ]:
connections = [('Amsterdam', 'Dublin', 100),('Amsterdam', 'Rome', 140),('Rome', 'Warsaw', 130),('Minsk', 'Prague', 95),('Stockholm', 'Rome', 190),('Copenhagen', 'Paris', 120),('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),('Dublin', 'Rome', 170),]

counter = 0
sum = 0.0
 
for con in connections:
    if con[1] == 'Rome':
        counter += 1
        sum += con[2]
 
print(counter, 'connections lead to Rome with an average flight time of', sum/counter, 'minutes')

5 connections lead to Rome with an average flight time of 161.0 minutes

Module4_intro_dict

In [ ]:
emails = {
    'Anne Stahl':'astah1@gmail.com',
    'Peter Small': 'peters@yandex.com',
    'Mark Steel': 'mark@steel.com'
}
print(emails['Mark Steel'])

mark@steel.com

In [ ]:
print(emails['astah1@gmail.com'])

KeyError: ignored

Module4_dict_operations

In [ ]:
grades = {}
grades['John'] = 'A-'
grades['Anne'] = 'B'

In [ ]:
print(grades)

{'John': 'A-', 'Anne': 'B'}

In [ ]:
grades['Anne'] = 'A'
print(grades)

{'John': 'A-', 'Anne': 'A'}

In [ ]:
grades.update({'John':'A'})

In [ ]:
print(grades)
len(grades)

{'John': 'A', 'Anne': 'A'}

2

In [ ]:
if 'John' in grades:
  print('John got:', grades['John'])

John got: A

In [ ]:
del grades['John']

In [ ]:
print(grades)

{'Anne': 'A'}

In [ ]:
grades = {}
grades['John'] = 'A-'
grades['Anne'] = 'B'

In [ ]:
for el in grades:
  print(el)

John
Anne

In [ ]:
for el in grades.keys():
  print(el)

John
Anne

In [ ]:
for el in grades.values():
  print(el)

A-
B

In [ ]:
for person, grade in grades.items():
  print(person, 'got', grade)

John got A-
Anne got B

Exercise
Interactive Dictionary
Write a program that implements a simple interactive dictionary. Start by prompting the user with the following:

Enter a word in English or EXIT: << put a space at the end of this message

When the user enters EXIT in capital letters, terminate the program with the following:

Bye!

Otherwise, try to find the German equivalent in the dictionary provided in the exercise.

a. if the word is in the dictionary, print: Translation: {} << replace {} with the word from the dictionary
b. if the word is not in the dictionary, print: No match!

You should keep asking the user for new words with the same prompt ('Enter a word in English or EXIT: ') until the user provides EXIT.

Here's an example of how the program could work with user input shown in the bold:

Enter a word in English or EXIT: dog
No match!
Enter a word in English or EXIT: face
Translation: Gesicht
Enter a word in English or EXIT: EXIT
Bye!

In [ ]:
sample_dict = {
    "mouth": "Mund",
    "finger": "Finger",
    "leg": "Bein",
    "hand": "Hand",
    "face": "Gesicht",
    "nose": "Nase"
}
 
while True:
    user_input = input('Enter a word in English or EXIT: ')
    if user_input == 'EXIT':
        break
    if user_input in sample_dict:
        print ('Translation:', sample_dict[user_input])
    else:
        print('No match!')
 
print('Bye!')

Enter a word in English or EXIT: mouth
Translation: Mund
Enter a word in English or EXIT: EXIT
Bye!

Module5_intro_functions

In [ ]:
def greet():
  print('Hello, my dear!')
greet()

Hello, my dear!

In [ ]:
input_numbers = [5.0, 3.5, 7.8, 9.9, 10.0]

sum = 0.0
for number in input_numbers:
  sum += number
average = sum / len(input_numbers)

print(average)

7.24

In [ ]:
def get_average(input_numbers):
  sum = 0.0
  for number in input_numbers:
    sum += number
  average = sum / len(input_numbers)
  print(average)
get_average([5.0, 3.5, 7.8, 9.9, 10.0])

7.24

In [ ]:
def print_letter_count(text, letter):
  counter = 0
  for char in text:
    if char == letter:
      counter +=1
  print('Number of', letter, 'is', counter)

In [ ]:
print_letter_count('Welcome', 'e')

Number of e is 2

In [ ]:
print_letter_count('People say nothing is impossible, but I do nothing every day.', 'a')

Number of a is 2

Module5_default_param_values

In [ ]:
print('Hello', 'How are you', end='.', sep='-')

Hello-How are you.

In [ ]:
def print_letter_count(text, letter='a'):
  counter = 0
  for char in text:
    if char == letter:
      counter += 1
  print('Number of', letter, 'is', counter)

print_letter_count('How many letters a are here?')

Number of a is 3

Module5_name_scopes

In [ ]:
def show_truth():
  mysterious_var = 'Surprise'
  print(mysterious_var)
show_truth()

Surprise

In [ ]:
def show_truth():
  mysterious_var = 'New Surprise!' #local variable
  print(mysterious_var)

mysterious_var = 'Surprise!' #global variable
print(mysterious_var)
show_truth() 
print(mysterious_var)

Surprise!
New Surprise!
Surprise!

In [ ]:
def show_truth():
  global mysterious_var
  mysterious_var = 'New Surprise!' #now global variable
  print(mysterious_var)

mysterious_var = 'Surprise!' #global variable
print(mysterious_var)
show_truth() 
print(mysterious_var)

Surprise!
New Surprise!
New Surprise!

In [ ]:
def show_truth():
  mysterious_var.append('New Surprise!') 
  print(mysterious_var)

mysterious_var = ['Surprise!'] 
print(mysterious_var)
show_truth() 
print(mysterious_var)

['Surprise!']
['Surprise!', 'New Surprise!']
['Surprise!', 'New Surprise!']

Module5_none

In [ ]:
print_return = print('Hello World!')
print(print_return)

Hello World!
None

In [ ]:
x= None

if x:
  print('None is True')
elif x is False:
  print('None is False')
else:
  print('None is not True, or False, None s just None')

None is not True, or False, None s just None

Module5_return

In [ ]:
def get_average(input_numbers):
  sum = 0.0
  for number in input_numbers:
    sum += number
  average = sum / len(input_numbers)
  return average

In [ ]:
print('The average is:', get_average([5.0, 3.5, 7.8, 9.9, 10.0]))

The average is: 7.24

In [ ]:
average = get_average([5.0, 3.5, 7.8, 9.9, 10.0])
if average > 5.0:
  print('The average is too high!')

The average is too high!

Exercise:
Get Rid of Duplicates!
Write a function named unique. The function should accept one parameter, which is a list with any number of elements inside. The default value for the parameter should be an empty list ([]).

The function should return a new list with all duplicate elements removed. The function should preserve the original order of elements.

Example 1: for unique([1, 1, 4, 5, 1]), the output should be [1, 4, 5]
Example 2: for unique(['Mark', 'Mark', 'John', 'Anne']), the output should be  ['Mark', 'John', 'Anne']

In [ ]:
def unique(input_list=[]):
  to_return = []
  for el in input_list:
    if el not in to_return:
      to_return.append(el)
  return to_return

In [ ]:
 unique([1, 1, 4, 5, 1])

[1, 4, 5]

Module5_recursion

In [ ]:
# factorial
# 3! = 1 * 2 * 3 = 6

In [ ]:
#iterative
def get_factorial(number):
  factorial = 1
  for x in range(1, number + 1):
    factorial *= x
  return factorial

In [ ]:
print(get_factorial(6))

720

In [ ]:
def get_factorial_recursive(number):
  if number <= 1:
    return 1
  return number * get_factorial_recursive(number - 1)

In [ ]:
get_factorial_recursive(6)

720

Module5_Generators

In [ ]:
def get_number():
  for i in range(1, 4):
    yield i

In [ ]:
print(get_number())

<generator object get_number at 0x7f88931f3eb0>

In [ ]:
generator = get_number()
print(next(generator))
print(next(generator))
print(next(generator))

1
2
3

In [ ]:
for x in get_number():
  print(x)

1
2
3

In [ ]:
numbers = list(get_number())
print(numbers)

[1, 2, 3]

Module5_exception_intro

In [ ]:
if True:
print('hooray!!')

IndentationError: ignored

In [ ]:
value = int(input('Enter an integer: '))
print('The inverse of', value, 1/value)

Enter an integer: a

ValueError: ignored

In [ ]:
try:
  value = int(input('Enter an integer: '))
  print('The inverse of', value, 1/value)
except:
  print('You did not provide a number, so I will not calculate the inverse')

Enter an integer: a
You did not provide a number, so I will not calculate the inverse

In [ ]:
value = int(input('Enter an integer: '))
print('The inverse of', value, 1/value)

Enter an integer: 0

ZeroDivisionError: ignored

In [ ]:
try:
  value = int(input('Enter an integer: '))
  print('The inverse of', value, 1/value)
except ValueError:
  print('You did not provide a number, so I will not calculate the inverse')
except ZeroDivisionError:
  print('You provided 0 an division is not possible, sorry')
except:
  print('Something strange happened here, sorry!')

Enter an integer: 0
You provided 0 an division is not possible, sorry

Module5_exception_hierarchy

In [ ]:
import sys
user_name = input('What is your name?')
if user_name == '':
  print('Empty name? I cannot work with that. I am closing the program. Bye!')
  sys.exit()
print('Hello', user_name)
print('Let us get started...')

What is your name?
Empty name? I cannot work with that. I am closing the program. Bye!

SystemExit: ignored

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
programming_language = ['Java', 'Python', 'C++']
print(programming_language[10])

IndexError: ignored

In [ ]:
ages = {'Jim': 30, 'Pam': 28, 'Kevin': 33}
ages['Michael']

KeyError: ignored

In [ ]:
age = input('What is your age? ')
print('In 10 years, you will be', age + 10)

What is your age? c

TypeError: ignored

In [ ]:
age = int(input('What is your age? '))

What is your age? a

ValueError: ignored

Module5_exception_propagation

In [ ]:
def get_day(user_info):
  day = int(input('What is the day of your bday? '))
  user_info.append(day)

def get_month(user_info):
  month = int(input('What is the month of your bday? '))
  user_info.append(month)

def get_year(user_info):
  year = int(input('What is the year of your bday?'))
  user_info.append(year)

def get_user_bday(user_info):
  try:
    get_day(user_info)
    get_month(user_info)
    get_year(user_info)
    print('So your bday is', user_info)
  except ValueError:
    print('You entered incorrect data, bye!')

print('Hi, I will collect some info about your bday!')
user_info = []
get_user_bday(user_info)

Hi, I will collect some info about your bday!
What is the day of your bday? a
You entered incorrect data, bye!

Module5_assertions

In [ ]:
def calculate_inverse(number):
  assert (number != 0), 'Got 0 as number!'
  return 1/number

calculate_inverse(0)

AssertionError: ignored